main {
  text-align: left;
  max-width: 90rem;
  margin: auto;
  padding: 5rem 10rem;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.875rem;
  font-weight: 500;
  color: #4338ca;
}
