.introbox {
  display: flex;
  gap: 7rem;
}

.headline {
  display: flex;
  flex-direction: column;
}

.introtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 3;
}

.introfoto {
  box-sizing: border-box;
  flex: 1.5;
}

.introfoto img {
  height: 23.4375rem;
  object-fit: contain;
  object-position: center;
}

button {
  width: 7rem;
  height: 3rem;
  border-radius: 10%;
  border: solid 0.1rem #3730a3;
  font-size: 1rem;
  color: #3730a3;
  font-weight: 500;
}
