.projects {
  display: flex;
  gap: 7.5rem;
  flex-wrap: wrap;
}

.projects p {
  font-size: 0.75rem;
  color: #6b7280;
  padding-bottom: 1rem;
}

.projects h3 {
  padding: 1rem 0;
}

.projects img {
  width: 18.75rem;
  height: 11.25rem;
}

.projectimg {
  box-sizing: border-box;
}

.project {
  flex: 1;
}

.projects span {
  border: solid 1px #3730a3;
  border-radius: 15%;
  padding: 0.2rem 0.7rem;
  font-size: 14px;
  margin: 0 0.2rem 0 0;
  color: #3730a3;
}

.projectlinks {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.projectlinks a {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  color: #3730a3;
}
